<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="HawkSearch\Datafeed\Api\Data\ResponseInterface" type="HawkSearch\Datafeed\Model\Response\Response" />
    <preference for="HawkSearch\Datafeed\Api\FieldsManagementInterface" type="HawkSearch\Datafeed\Model\FieldsManagement" />
    <preference for="HawkSearch\Datafeed\Api\Data\FeedSummaryInterface" type="HawkSearch\Datafeed\Model\FeedSummary" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="run_hawksearch_datafeed" xsi:type="object">HawkSearch\Datafeed\Console\Command\DataFeed</item>
                <item name="hawksearch_schedule_datafeed" xsi:type="object">HawkSearch\Datafeed\Console\Command\ScheduleDatafeed</item>
            </argument>
        </arguments>
    </type>
    <type name="HawkSearch\Datafeed\Logger\DataFeedLogger">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">HawkSearch\Datafeed\Logger\Handler\DebugHandler</item>
            </argument>
        </arguments>
    </type>

    <!-- Configs -->
    <type name="HawkSearch\Datafeed\Model\Config\Feed">
        <arguments>
            <argument name="configRootPath" xsi:type="string">hawksearch_datafeed</argument>
            <argument name="configGroup" xsi:type="string">feed</argument>
        </arguments>
    </type>
    <type name="HawkSearch\Datafeed\Model\Config\General">
        <arguments>
            <argument name="configRootPath" xsi:type="string">hawksearch_datafeed</argument>
        </arguments>
    </type>
    <type name="HawkSearch\Datafeed\Model\Config\Sftp">
        <arguments>
            <argument name="configRootPath" xsi:type="string">hawksearch_datafeed</argument>
            <argument name="configGroup" xsi:type="string">hawksearch_sftp</argument>
        </arguments>
    </type>
    <type name="HawkSearch\Datafeed\Model\Config\Attributes">
        <arguments>
            <argument name="configRootPath" xsi:type="string">hawksearch_datafeed</argument>
            <argument name="configGroup" xsi:type="string">attributes</argument>
        </arguments>
    </type>
    <!-- END Configs -->
</config>
