<?xml version="1.0"?>
<!--
  /**
   * Copyright (c) 2023 Hawksearch (www.hawksearch.com) - All Rights Reserved
   *
   * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
   * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
   * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
   * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
   * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
   * FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
   * IN THE SOFTWARE.
   */
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hawksearch" translate="label" sortOrder="400">
            <label>HawkSearch</label>
        </tab>
        <section id="hawksearch_connector">
            <group id="api_settings">
                <group id="indexing_api_url" showInDefault="0" showInWebsite="0" showInStore="0"  />
                <group id="search_api_url" showInDefault="0" showInWebsite="0" showInStore="0"  />
                <group id="hawksearch_workbench_url" showInDefault="0" showInWebsite="0" showInStore="0"  />
            </group>
        </section>
        <section id="hawksearch_datafeed" translate="label" type="text" sortOrder="300" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>DataFeed Settings</label>
            <tab>hawksearch</tab>
            <resource>HawkSearch_Datafeed::config_hawksearchdatafeed</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="logging_enabled" translate="label comment" type="select" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="10">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="version" translate="label comment" showInDefault="1" showInWebsite="1" showInStore="1"
                       sortOrder="15">
                    <label>Version</label>
                    <frontend_model>HawkSearch\Datafeed\Block\System\Config\Version</frontend_model>
                </field>
            </group>
            <group id="feed" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Feed Settings</label>
                <field id="generate" translate="button_label comment" sortOrder="5" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label/>
                    <button_label>
                        <![CDATA[Schedule Feed Generation]]>
                    </button_label>
                    <button_url>
                        <![CDATA[hawksearchdatafeed/hawkdatagenerate/runFeedGeneration]]>
                    </button_url>
                    <frontend_model>HawkSearch\Datafeed\Block\System\Config\Button</frontend_model>
                    <comment><![CDATA[For Development purposes only, use cron job on live site.]]></comment>
                </field>
                <field id="stores" translate="label comment" type="multiselect" showInDefault="1" showInWebsite="0"
                       showInStore="0" sortOrder="10">
                    <label>Feed Stores</label>
                    <source_model>Magento\Config\Model\Config\Source\Store</source_model>
                </field>
                <field id="batch_limit" translate="label comment" type="text" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="15">
                    <label>Batch Limit</label>
                </field>
                <field id="reindex" translate="label comment" type="select" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="20">
                    <label>Run Index when Complete</label>
                    <comment>Run an API index in the Hawksearch portal when the datafeed generation is complete.
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_enable" translate="label comment" type="select" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="30">
                    <label>Enable Datafeed Cron Task</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_string" translate="label comment" type="text" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="35">
                    <label>Cron expression</label>
                    <comment>Max run interval is hourly, first value must be between 0 and 59</comment>
                    <backend_model>HawkSearch\Datafeed\Model\Config\Backend\Cron</backend_model>
                    <depends>
                        <field id="cron_enable">1</field>
                    </depends>
                </field>
                <field id="cron_email" translate="label comment" type="text" showInDefault="1" showInWebsite="1"
                       showInStore="1" sortOrder="40">
                    <depends>
                        <field id="cron_enable">1</field>
                    </depends>
                    <label>Feed Cron Email</label>
                    <validate>required-entry validate-email</validate>
                </field>
                <field id="remove_pub_in_assets_url" translate="label comment" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Remove pub/ folder from assets url</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                                Enable this setting if you want to remove pub/ from assets urls which are exporting to
                                Hawksearch index. It is needed if your server is configured to serve files from
                                Magento’s pub/ directory.</br>
                                <strong>Example</strong>: http://example.com/pub/media/catalog/product/image.jpg
                                is transformed to http://example.com/media/catalog/product/image.jpg
                            ]]>
                    </comment>
                </field>
                <field id="feed_locker" translate="label comment" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Feed generation locker</label>
                    <source_model>HawkSearch\Datafeed\Model\Config\Source\Locker</source_model>
                    <comment>
                        <![CDATA[
                                Advanced setting. The setting defines the data feed files generation locker source
                            ]]>
                    </comment>
                </field>
            </group>
            <group id="hawksearch_sftp" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>SFTP Settings</label>
                <field id="enabled" translate="label comment" type="select" showInDefault="1" showInWebsite="0"
                       showInStore="0" sortOrder="5">
                    <label>Send Feeds to SFTP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="host" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SFTP Host[:Port]</label>
                    <comment>Host name of the server, such as ftp.example.com or IP address and not required port</comment>
                    <depends>
                        <field id="hawksearch_datafeed/hawksearch_sftp/enabled">1</field>
                    </depends>
                </field>
                <field id="username" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SFTP Username</label>
                    <depends>
                        <field id="hawksearch_datafeed/hawksearch_sftp/enabled">1</field>
                    </depends>
                </field>
                <field id="password" translate="label" type="password" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SFTP Password</label>
                    <depends>
                        <field id="hawksearch_datafeed/hawksearch_sftp/enabled">1</field>
                    </depends>
                </field>
                <field id="folder" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SFTP Folder</label>
                    <depends>
                        <field id="hawksearch_datafeed/hawksearch_sftp/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="attributes" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Attributes</label>

                <field id="group_pricing_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Enable Group Pricing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="mapping" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Fields Mapping</label>
                    <frontend_model>HawkSearch\Datafeed\Block\Adminhtml\System\Config\FieldsMapping</frontend_model>
                    <backend_model>HawkSearch\Datafeed\Model\Config\Backend\Serialized\FieldsMapping</backend_model>
                    <comment>
                        <![CDATA[
                            Specify a product's attributes mapping.</br>
                            Use <strong>Dedicated Method</strong> mapping for the following fields, as this is their default mapping:</br>
                            <li>url_detail</li>
                            <li>group_id</li>
                            <li>is_on_sale</li>
                            <li>metric_inventory</li>
                            <li>image</li>
                            <li>category_id</li>
                            <li>rating_summary</li>
                            <li>reviews_count</li>
                        ]]>
                    </comment>
                </field>

            </group>
        </section>
    </system>
</config>
